@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #796fc1;
  --color-secondary: #fcfcfc;
  --color-gradient-start: #e6e0ff;
  --color-default: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  display: flex;
  width: 100%;
}

html {
  background: linear-gradient(to left top, var(--color-gradient-start) ,var(--color-secondary));
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #4a5764;;
  font-family: "Quicksand", sans-serif;
  font-size: .9375rem;
  margin: 0;
}

.grid {
  margin: 0 auto;
  padding: 16px;
  flex: 1;
  overflow: auto;
}

header {
  height: 350px;
}

.title {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -.025em;
  line-height: 1.2;
  margin: 0 0 24px;
}

main {
  margin: auto;
}

aside {
  align-items: center;
  background: var(--color-default);
  box-shadow: 0 -1px 0 #0000000d;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 16px;
  position: relative;
  text-shadow: none;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .grid {
      align-items: center;
      display: flex;
      max-width: 1240px;
      width: 100%;
  }

  .grid>* {
    flex: 1;
  }

  header {
    height: 450px;
    margin-right: 48px;
    max-width: 360px;
  }
}
